@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home page";

}
<html>  

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <iframe
        width="600"
        height="450"
        src="https://www.google.com/maps/embed/v1/place?key=@Configuration["MapsAPIKey"]&q=39.9612,-82.9988"
    </iframe>
        
</html>  
