@page
@model HackOhio2023.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.Id" />
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.AuthorId" class="control-label"></label>
                <input asp-for="Event.AuthorId" class="form-control" />
                <span asp-validation-for="Event.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Category" class="control-label"></label>
                <input asp-for="Event.Category" class="form-control" />
                <span asp-validation-for="Event.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.DescriptionVideo" class="control-label"></label>
                <input asp-for="Event.DescriptionVideo" class="form-control" />
                <span asp-validation-for="Event.DescriptionVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.DescriptionImage" class="control-label"></label>
                <input asp-for="Event.DescriptionImage" class="form-control" />
                <span asp-validation-for="Event.DescriptionImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Location" class="control-label"></label>
                <input asp-for="Event.Location" class="form-control" />
                <span asp-validation-for="Event.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Start" class="control-label"></label>
                <input asp-for="Event.Start" class="form-control" />
                <span asp-validation-for="Event.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.End" class="control-label"></label>
                <input asp-for="Event.End" class="form-control" />
                <span asp-validation-for="Event.End" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.Recurring" /> @Html.DisplayNameFor(model => model.Event.Recurring)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Event.RecurringFrequency" class="control-label"></label>
                <input asp-for="Event.RecurringFrequency" class="form-control" />
                <span asp-validation-for="Event.RecurringFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Audience" class="control-label"></label>
                <input asp-for="Event.Audience" class="form-control" />
                <span asp-validation-for="Event.Audience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
